; begin auth token
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/registry/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/registry/:_password=enZ3aXdjY3ZiMjVkZWdhbWQybmtraDNsdncyNGpvNWw1anl0dHdrenBzemNpeTZwcWN2YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/:username=hexagonPPMInnerSource
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/:_password=enZ3aXdjY3ZiMjVkZWdhbWQybmtraDNsdncyNGpvNWw1anl0dHdrenBzemNpeTZwcWN2YQ==
//pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/PPM/_packaging/EcoSys/npm/registry/

always-auth=true